@mixin font-face($family, $url, $fontWeight, $fontStyle) {
    @font-face {
        font-family: $family;
        src: url($url);
        font-weight: ($fontWeight);
        font-style: ($fontStyle);
    }
}