// includes
@include font-face('silkserif', '/assets/fonts/Silk Serif Regular.otf', normal, none);
@include font-face('silkserif', '/assets/fonts/Silk Serif Regular Italic.otf', normal, italic);
@include font-face('silkserif', '/assets/fonts/Silk Serif Bold.otf', bold, none);
@include font-face('silkserif', '/assets/fonts/Silk Serif Bold Italic.otf', bold, italic);
@include font-face('silkserif', '/assets/fonts/Silk Serif SemiBold.otf', 500, none);
@include font-face('silkserif', '/assets/fonts/Silk Serif SemiBold Italic.otf', 500, italic);
// body
body {
    font-family: $font-stack;
    color: $brown;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

.text {
    font-size: 2em;
    letter-spacing: 1.2px;
    line-height: 1.2em;
}